service cameraserver1 /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks
    setenv LD_PRELOAD "/vendor/lib/libshims_cameraclient.so"
